body{
    background-color: #f8f8f8;
    font-family: 'Karma', serif;
    line-height: 1.5em;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.5em;
}
p{
    font-weight: 400;
    line-height: 1.5em;
}
.global-padding{
    padding: 0 20px;
}
/* header area */
#header-area{
    width: 100%;
    border-top: 10px solid #1c1c1c;
    border-bottom: 1px solid #dddddd;
    padding-top: 45px;
    padding-bottom: 35px;
    clear: both;
}
.logo-area {
    float: left;
}
.search-area form{
    width: 285px;
    float: right;
}
.search-area input[type="search"]{
    border: 1px solid #dddddd;
    padding: 10px 6px;
    height: 32px;
    background-color: white; 
    color: #7f7f7f;
}
.search-area input[type="submit"]{
    width: 73px;
    color: white;
    background-color: #d54346;
    border: 1px solid #d54346;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.search-area input[type="submit"]:hover{
    background: #792728;
    border: 1px solid #792728;
}

/* Main Menu */
#main-menu {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 20px;

}
#main-menu ul#nav {
    list-style: none;
    
}
#main-menu ul#nav li {
    display: inline-block;
    padding:0px 15px;
    border-right: 2px solid #c9c9c9;
}
#main-menu ul#nav li a{
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
}
#main-menu ul#nav li a:hover{
    color: #d54346 ;
}

#main-menu ul#nav li span{
    display: block;
    color: #999999;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1em;
}
#main-menu ul#nav li a:hover span{
    color: #d54346 ;
    
}
.dropdown{
    position: relative;
   
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 150px;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content a{
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}


/* social media */

.social-area ul{
    list-style: none;
    text-align: right;
    margin: 0px;
    padding: 0;
}
.social-area ul li{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
#main-menu .social-area ul li a {
    width: 35px;
    height: 35px;
    background-color: #333333;
    color: white;
    text-align: center;
    transition: 0.5s;
    display: block;
    border-radius: 50%;
    padding-top: 5px;
}
#main-menu .social-area ul li a#rss:hover{
    background-color: #fa4c;
}
#main-menu .social-area ul li a#facebook:hover{
    background-color: #4c4867aa;
}
#main-menu .social-area ul li a#twitter:hover{
    background-color: #1da1f2;
}
#main-menu .social-area ul li a#google-plus:hover{
    background-color: #dd5144;
}
#main-menu .social-area ul li a#linkedin:hover {
    background-color: #0274b3;
}

/* banner area */
#banner-area{
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
    position: relative;
}
#banner-area img {
    width: 100%;
    height: auto;
}
#banner-area .inner-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner-area .inner-text-area{
    width: 100%;
    height: 100%;
    display: table;
}
#banner-area .inner-main-text-banner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
#banner-area .inner-main-text-banner h1{
    font-size: 13vw;
    color: white;
    line-height: 1em;
}
#banner-area .inner-main-text-banner h2{
    font-size: 6vw;
    color: white;
    line-height: 1em;
}
#banner-area .banner-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0.7;
}
#banner-area .banner-bottom::after{
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
}
#banner-area .banner-bottom p{
    color: white;
    padding-top: 10px;
}

/* client section */
#client-area{
    padding: 50px 0;
    width: 100%;
    clear: both;
    text-align: center;
}
#client-area h2{
    color: #4a4a4a;
    font-size: 38pt;
}
#client-area p{
    color: #999999;
    font-size: 26pt;
}

#client-area .client-profiles{
    margin: 40px 0;
}
#client-area .client-profiles p{
    font-size: 13pt;
    margin-top: 24px;
    margin-bottom: 13px;
}
#client-area .client-profiles a{
    text-decoration: none;
    color: #d54346;
}
.thinning-line { 
    margin: 25px 0;
    height: 3px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#f8f8f8), to(#f8f8f8), color-stop(50%, #d9d9d9));
}
/* project section */
#project-section{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
#project-section .project-title{
    text-align: right;
    text-transform: uppercase;
    padding-right:44px;
}
#project-section .project-title p{
    color: #4a4a4a;
    font-size: 20pt;
}
#project-section .project-title h2{
    color: #d44346;
    font-size: 60pt;
}
#project-section img{
    width: 100%;
}
#project-section h2{
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 20pt;
    padding: 10px 0;
}
#project-section p{
    text-transform: capitalize;
    color: #999999;
    font-size: 13pt;
}
#project-section button{
    text-transform: uppercase;
    background-color: #d54346;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}
#project-section button:hover{
    background-color: #792728;
}
#project-section button:active{
    background-color: #e74548;
}

/* footer section  */
footer{
    border-top: 5px solid #871f21;
    border-bottom: 1px solid #b7282c;
    background-color: #d54346;
    padding: 30px 20px;
}

footer h3{
    text-transform: uppercase;
    color: white;
    font-size: 12pt;

}
footer p{
    color:white;
    font-size: 13pt;
    padding-top: 5px;
}
footer a{
    text-decoration: none;
    color: #631618;
    font-size: 12pt;
}
footer a:hover{
    text-decoration: none;
    color: #ffbec0;
}
footer article{
    padding-bottom: 20px;
}
footer article a {
    text-transform: capitalize;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li{
    font-size: 12pt;
    border-bottom: 1px solid #d85255;
    padding: 3px 0;
    padding-left: 15px;
    position: relative;
}
footer ul li:before { 
    content:"\00bb";
    position: absolute;
    left: -1px;
    color: white;
 }

 footer form input[type=text]{
     width: 100%;
     margin: 10px 0;
     padding: 8px;
     border-radius: 10px;
 }
 footer form input[type=submit]{
     width: 82px;
     margin-bottom: 30px;
     padding: 8px;
     color: white;
     background-color: #871f21;
     font-size: 12pt;
     text-transform: uppercase;
     border-radius: 10px;
 }
 
 footer .contact-link #contact p{
    padding-top: 0px;
    line-height: 0.5em;
}

 footer .contact-link #contact h3{
     margin-bottom: 20px;
 }
 /* copy right section  */
 #copy-right{
    background-color: #d54346;
    border-top: 1px solid #db6063;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
}
#template{
    text-align: right;
}

/* overrid boostrap calsses */
.row{
    margin-right: 0;
}